/morello/bin/
/morello/musl-bin/
/morello/compiler_rt-bin/
/morello/examples/bin/
/morello/morello-rootfs/
/morello/.llvm-env
/morello/.firmware-env
/morello/morello-docker/
/morello/linux-out/
/morello/projects/buildroot/
/morello/projects/morello-busybox/
/morello/projects/morello-linux-headers/
/morello/projects/musl-utils/
/morello/projects/linux/
